# Gradle
.gradle
/local.properties

# IntelliJ
out/

build/
/captures
.externalNativeBuild

# Idea
.idea
*.iml

#MacOS
.DS_Store

# Kotlin
.kotlin

# Assets
app/src/main/assets/*.csv
app/src/main/assets/*.json

# lib config
libandroid-navigation-ui/src/main/res/values/config.xml
